<!DOCTYPE html>
<html>

<head>
    <title>Todos</title>
</head>

<body>
    <h1>Todos</h1>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li>
                <%= todo.title %>
            </li>
            <% }); %>
    </ul>
</body>

</html>